body {
  text-align: center;
  background: #fff;
}

.container {
  margin: 50px auto;
  width: 400px;
  height:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.sect {
  height: 150px;
  width: 150px;
  background: #FB321B;
  transition: all 0.2s;
  text-align: center;
  line-height: 150px;
  color: whitesmoke;
  font-size: 32px;
  border: 2px solid #fff;
}

.sect span {
  display: none;
}
.container div:hover {
  cursor: pointer;
}

.info {
  font-family: 'Ubuntu';
  font-size: 18px;
  text-align: center;
  color: #888;
}

.overMsg {
  position: absolute;
  margin: 135px auto;
  right: 0;
  left: 0;
  color: #fff;
  text-shadow: 2px 2px 3px #555;
  font-size: 32px;
  display: none;
  z-index: 9999;
}

button {
  margin: 10px 5px;
}
.green {
  background: #64d153;
  border-radius: 100% 0 0 0 ;
}
.red {
  background: #d15252;
  border-radius: 0 100% 0 0;
}
.blue {
  background: #5398f1;
  border-radius: 0 0 100% 0;
}
.yellow {
  background: #f2ef54;
  border-radius: 0 0 0 100%;
}